body * {
    font-family: var(--font-family);
}

.container {
    max-width: 1130px;
    margin: 0 auto;
    
}
.title {
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
    padding-bottom: 92px;
}
.flex {
    display: flex;
}
.bc__section_hero_r {
    position: absolute;
    right: 0;
    width: 653px;
    height: 845px;
    z-index: -1;
    background: #f1eadc;
}
.btn__proz  {
    border: 1px solid var(--cta);
    padding: 22px 50px;
    width: 248px;
    height: 68px;
    font-weight: 400;
    font-weight: 400;
    font-size: 16px;
    line-height: 139%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--cta);
    transition: 0.3s;
    cursor: pointer;
}
.btn__proz:hover {
    background-color: var(--cta);
    color: var(--light-text-color);
}
.btn__neproz {
    padding: 22px 50px;
    width: 246px;
    height: 68px;
    background: var(--cta);
    font-weight: 400;
    font-size: 16px;
    line-height: 139%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--light-text-color);
}
.btn__neproz:hover {
    background: #509498;
}
/* HEADER */
.header__container {
    padding: 51px 0 15px ;
    display: flex;
    justify-content: space-between;
}
.header__logo > a {
    align-items: center;
    column-gap: 11px;
}
.header__title_logo {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--dark-text-color);
    
 
}
.header_list2 {
    margin-left: 148px ;
}
.header__menu {
    align-items: center;
    column-gap: 45px;
}
.header__list {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: var(--dark-text-color);
    position: relative;
    padding-bottom: 4px;
}
.header__list::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--dark-text-color);
    transition: 0.3s;


}
.header__list:hover {
    
    color: var(--dark-text-color);
}
.header__list:hover::after {
    width: 100%;
}
.header__list.weight:hover {
    color: var(--cta);
    opacity: 1;
}
.weight {
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: var(--cta);
    
}
.weight::after {
    content: "";
    background-color: var(--cta);
    color: var(--cta);

}

.header__contact {
    align-items: center;
    gap: 9px;

}

.header__shop_info {
   gap: 67px;
}
.header__phone {
    align-items: center;
    column-gap: 9px;
}
/* HEADER */